@import 'helpers/vars';
@import 'helpers/fonts';

@import 'components/bubble';
@import 'components/box';
@import 'components/spinner';
@import 'components/button';
@import 'components/notification';

* {
  box-sizing: border-box;
  font-family: var(--tly-default-font);
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--tly-default-text-color);
}

html,
body {
  height: 100%;
}
