@import 'helpers/vars';
@import 'helpers/fonts';

@import 'components/bubble';
@import 'components/button';
@import 'components/footer';
@import 'components/header';
@import 'components/notification';
@import 'components/spinner';
@import 'components/typography';
@import 'components/widget';
@import 'components/input';
@import 'components/phone-input';
@import 'components/search-input';
@import 'components/form';
@import 'components/form-field';
@import 'components/current-location';
@import 'components/layout-screen';
@import 'components/transaction';
@import 'components/order';
@import 'components/service';
@import 'components/locations';

@import 'screens/home';
@import 'screens/take-ticket';
@import 'screens/ticket-details';
@import 'screens/services';

* {
  box-sizing: border-box;
  font-family: var(--tly-default-font);
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
