$block: 'tly-widget';

.#{$block} {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 16px;

    &::-webkit-scrollbar {
      border-radius: 12px;
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: var(--tly-white);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
      background: #d2d2d2;
      border-radius: 10px;
    }
  }

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    min-height: 65px;

    &-title {
      align-items: center;
      color: var(--tly-default-title-color);
      display: flex;
      font-family: var(--tly-default-font);
      font-weight: bold;
      font-size: 16px;
      margin: 0;
      padding: 0;

      svg {
        max-width: 22px;
      }

      span {
        margin-left: 12px;
      }
    }

    &-back {
      $size: 32px;
      display: flex;
      height: $size;
      width: $size;
    }
  }

  &-footer {
    align-items: flex-end;
    background: transparent linear-gradient(180deg, #fff0 0%, #fff 100%) 0% 0%
      no-repeat padding-box;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 50%;
    min-height: 100px;
    padding: 16px 0;
    position: absolute;
    transform: translate(-50%, 0);
    width: calc(100% - 32px);

    p {
      color: var(--tly-default-text-color);
      font-size: 12px;
      letter-spacing: 0.19px;

      strong {
        color: var(--tly-gray);
      }
    }

    .tly-widget-powered-by {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      opacity: 0.8;
      outline: none;
      text-decoration: none;
      width: 100%;

      &-text {
        color: var(--tly-gray);
        font-size: 12px;
        letter-spacing: 0.19px;
        margin-right: 6px;
      }

      svg {
        max-width: 20px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .tly-widget-btn-close {
    $size: 32px;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: $size;
    justify-content: center;
    text-align: center;
    width: $size;
  }

  &__title {
    color: var(--tly-default-title-color);
    font-family: var(--tly-default-font);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }

  &__text {
    color: var(--tly-default-text-color);
    font-family: var(--tly-default-font);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-bottom: 16px;
  }

  &__subtitle {
    color: var(--tly-default-text-color);
    font-family: var(--tly-default-font);
    font-size: 16px;
    letter-spacing: 0.26px;
    line-height: 28px;
    margin: 0;
  }
}
