$block: 'tly-widget';

.#{$block} {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 16px;

    &::-webkit-scrollbar {
      border-radius: 12px;
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $white;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
      background: #d2d2d2;
      border-radius: 10px;
    }
  }

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    h1 {
      align-items: center;
      color: $primary-color;
      display: flex;
      font-family: $default-font;
      font-size: 16px;
      letter-spacing: 0.26px;
      line-height: 37px;
      opacity: 0.85;
      user-select: none;

      svg {
        max-width: 22px;
      }

      span {
        margin-left: 12px;
      }
    }
  }

  &-footer {
    align-items: flex-end;
    background: transparent linear-gradient(180deg, #fff0 0%, #fff 100%) 0% 0%
      no-repeat padding-box;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 50%;
    min-height: 100px;
    padding: 16px 0;
    position: absolute;
    transform: translate(-50%, 0);
    width: calc(100% - 32px);

    p {
      color: $default-text-color;
      font-size: 12px;
      letter-spacing: 0.19px;

      strong {
        color: $gray;
      }
    }

    .tly-widget-powered-by {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      opacity: 0.8;
      outline: none;
      text-decoration: none;
      width: 100%;

      &-text {
        color: $gray;
        font-size: 12px;
        letter-spacing: 0.19px;
        margin-left: 6px;
      }

      svg {
        max-width: 18px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .close {
    $size: 32px;
    align-items: center;
    background: $gray-lighter;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: $size;
    justify-content: center;
    text-align: center;
    width: $size;
  }

  &__title {
    color: $gray;
    font-family: $default-font;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.32px;
    line-height: 28px;
    margin: 0;
    text-align: center;
  }

  &__text {
    color: $default-text-color;
    font-family: $default-font;
    font-size: 16px;
    letter-spacing: 0.26px;
    line-height: 22px;
    margin: 0;
    text-align: center;
  }

  &__subtitle {
    color: $default-text-color;
    font-family: $default-font;
    font-size: 16px;
    letter-spacing: 0.26px;
    line-height: 28px;
    margin: 0;
  }
}
