$block: 'tly-button';

.#{$block} {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-family: var(--tly-default-font);
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &--is-full {
    width: 100%;
    max-width: 100%;
  }

  &--is-medium {
    padding: 16px 24px;
    min-height: 46px;
  }

  &--is-small {
    padding: 8px 16px;
    min-height: 38px;
  }

  &--is-large {
    padding: 24px 32px;
    min-height: 54px;
  }

  &--is-flat {
    border-radius: 0;
  }

  &--is-rounded {
    border-radius: 100px;
  }

  &--is-primary {
    background-color: var(--tly-primary-bg);

    &,
    & .#{$block}__span {
      color: var(--tly-primary-color);
    }
  }

  &--is-secondary {
    background-color: var(--tly-secondary-bg);

    &,
    & .#{$block}__span {
      color: var(--tly-secondary-color);
    }
  }

  &__span {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
