$block: 'button';

.#{$block} {
  $size: 64px;
  align-items: center;
  background-color: $primary-color;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 6px 8px #00000029;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: $default-font;
  font-size: 16px;
  height: $size;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: normal;
  min-height: $size;
  min-width: $size;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: $size;

  &__container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding: 0 12px;
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}
