$block: 'tly-button';

.#{$block} {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border: none;
  min-height: 46px;
  font-size: 16px;
  font-family: var(--tly-default-font);
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &--is-primary {
    background-color: var(--tly-primary-bg);
    color: var(--tly-primary-color);

    &:focus,
    &:focus:active {
      background-color: var(--tly-primary-bg);
      color: var(--tly-primary-color);
      box-shadow: 0 0 0 4px rgba(var(--tly-primary-bg), 0.3);
    }
  }

  // &--secondary {
  //   background-color: rgba($secondary-color, 0.15);
  //   color: $secondary-color;

  //   &:hover {
  //     background-color: $secondary-color;
  //     color: $white;
  //   }

  //   &:focus,
  //   &:focus:active {
  //     background-color: $secondary-color;
  //     color: $white;
  //     box-shadow: 0 0 0 4px rgba($secondary-color, 0.3);
  //   }
  // }

  // &--outline {
  //   background: $white;
  //   color: $primary-color;

  //   &:hover {
  //     background: rgba($primary-color, 0.1);
  //     color: $primary-color;
  //   }

  //   &:focus {
  //     background: $white;
  //     color: $primary-color;
  //     box-shadow: 0 0 0 4px rgba($primary-color, 0.3);
  //   }
  // }
}
