$block: 'tly-button';

.#{$block} {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-family: var(--tly-default-font);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover:before {
    background: rgba(0, 0, 0, 0.08);
  }

  &:focus:before,
  &:focus:active:before {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 4px rgba(#6b7c89, 0.15);
  }

  &--is-full {
    width: 100%;
    max-width: 100%;
  }

  &--is-medium {
    padding: 16px 24px;
    min-height: 46px;
  }

  &--is-small {
    padding: 8px 16px;
    min-height: 38px;
  }

  &--is-large {
    padding: 24px 32px;
    min-height: 54px;
  }

  &--is-flat {
    border-radius: 0;
  }

  &--is-rounded {
    border-radius: 100px;
  }

  &--is-primary {
    background-color: var(--tly-primary-bg);

    &,
    & .#{$block}__span {
      color: var(--tly-primary-color);
    }
  }

  &--is-secondary {
    background-color: var(--tly-gray-lighter-v2);

    &,
    & .#{$block}__span {
      color: var(--tly-black);
    }
  }

  &__span {
    z-index: 0;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
