$block: 'tly-checkbox';

.#{$block} {
  display: flex;
  gap: 8px;
  min-width: 80px;
  min-height: 44px;
  border: 1px solid var(--tly-default-border-color);
  padding: 12px;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &--is-selected {
    border: 1px solid var(--tly-secondary-bg);
  }

  &-icon {
    color: var(--tly-default-border-color);

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &-icon--is-selected {
    color: var(--tly-secondary-bg);

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}
