$block: 'tly-input';
$block-icon: 'tly-input-icon';
$block-icon-container: 'tly-input-icon-container';

.#{$block-icon-container} {
  position: relative;
}

.#{$block-icon} {
  position: absolute;
  right: 16px;
  top: 18px;
}

.#{$block} {
  border: solid 1px var(--tly-default-border-color);
  padding: 16px;
  width: 100%;
  font-size: 14px;
  color: var(--tly-gray);
  border-radius: 4px;

  &:focus {
    border-color: #80bdff;
  }

  &:disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.75;
    color: var(--tly-default-border-color);

    svg {
      color: var(--tly-default-border-color);
    }
  }

  &--is-icon {
    & {
      padding-right: 34px;
    }
  }

  &--is-danger {
    background-color: var(var(--tly-danger));
    color: var(--tly-danger);
    border-color: var(--tly-danger);

    i,
    svg {
      color: var(--tly-danger);
    }
  }
}
