$block: 'tly-layout-screen';

.#{$block} {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-color: white;
    margin-top: 20px;
  }
}
