$block: 'tly-layout-screen';

.#{$block} {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}
