$block: 'tly-modal';

.#{$block} {
  position: absolute;
  top: 5rem;
  background-color: #f7f7f7;
  width: 80%;
  padding: 20px;
  box-shadow: 0px 12px 12px #00000014;
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  &-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000007b;
    opacity: 0;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    transition: max-height 0s ease-in-out 0.25s, width 0s ease-in-out 0.25s,
      opacity 0.25s ease-in-out 0s, z-index 0s ease-in-out 0.25s,
      transform 0.25s ease-in-out 0s;

    display: flex;
    justify-content: center;
  }

  &-footer {
    margin-top: 10px;
    display: grid;
    gap: 8px;
  }

  &-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &--is-open {
    opacity: 1;
    transform: translate3d(0, -0.1%, 0);
    transition: max-height 0s ease-in-out 0s, width 0s ease-in-out 0s,
      opacity 0.25s ease-in-out 0.01s, z-index 0s ease-in-out,
      transform 0.25s ease-in-out 0.01s;
    z-index: var(--tly-z-index);
  }
}
