.Toastify__toast {
  font-size: 14px;
  border-radius: 4px !important;
  margin-bottom: 8px !important;
  background-color: rgba( #000000, 0.7) !important;

  &:last-child {
    margin-bottom: 0 !important;
  }

  &,
  .Toastify__close-button {
    color: var(--tly-gray-lighter) !important;
  }
}

.Toastify__toast-body > div:nth-child(2) {
  word-break: break-word;
}

.Toastify__toast-body {
  padding: 16px;
}

.Toastify__toast-container {
  padding: 24px !important;
}
