$block: 'tly-order';

.#{$block} {
  padding: 16px 24px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  max-width: 246px;
  margin-bottom: 24px;
  transition: all 0.2s ease-in-out;

  &-title {
    font-size: 60px;
    line-height: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--tly-default-font);
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &-text {
    color: var(--tly-default-text-color);
    font-family: var(--tly-default-font);
    font-size: 12px;
    margin: 0;
    letter-spacing: 0.14px;
    line-height: 22px;
    text-overflow: ellipsis;
    font-weight: bold;
  }
}
