$block: 'tly-order';

.#{$block} {
  background-color: var(--tly-gray);
  padding: 16px 24px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  max-width: 240px;
  margin-bottom: 24px;
  transition: all 0.2s ease-in-out;

  &-title {
    font-size: 60px;
    line-height: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--is-danger {
    background-color: #fbd5d5;

    .#{$block}-title,
    .tly-typography-text {
      color: var(--tly-danger);
    }
  }

  &--is-warning {
    background-color: rgba(252, 238, 147, 0.5);

    .#{$block}-title,
    .tly-typography-text {
      color: var(--tly-warning);
    }
  }

  &--is-primary {
    background-color: #ddf7ec;

    .#{$block}-title,
    .tly-typography-text {
      color: var(--tly-green-dark);
    }
  }
}
