$block: 'tly-phone-input';

.#{$block} {
  border: solid 1px var(--tly-default-border-color) !important;
  color: var(--tly-gray) !important;
  font-size: 16px !important;
  padding: 16px !important;
  padding-left: 55px !important;
  width: 100% !important;
}
