// Overwrite react-select component

.Select-control {
  height: 56px !important;
  border-radius: 4px !important;
  border: solid 1px var(--tly-default-border-color) !important;
}

.Select-placeholder {
  line-height: none !important;
  padding: 12px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  font-size: 16px !important;
  color: var(--tly-gray) !important;
}

.Select-input {
  margin-top: 10px !important;
  padding-right: 14px !important;
  padding-left: 14px !important;
  color: var(--tly-gray) !important;
}
