$block: 'tly-service';

.#{$block} {
  border: 1px solid #e4e7eb;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &-content {
    width: 100%;

    &-details {
      display: flex;
      align-items: center;
      gap: 6px;
      flex: 1;
    }
  }

  &-icon {
    justify-self: flex-end;
  }

  &--is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--is-selected {
    border-color: var(--tly-secondary-bg);

    .#{$block}-icon {
      color: var(--tly-secondary-bg);
    }
  }
}
