

$block: 'tly-spinner';

.#{$block} {
  &-content {
    width: 60px;
    height: 60px;
    border: 2.5px solid var(--tly-gray-lighter);
    border-top-color: var(--tly-secondary-bg);
    border-radius: 50%;
    animation: spinner 0.8s ease-in-out infinite alternate;

    &--is-small {
      width: 30px;
      height: 30px;
      border-width: 1.5px;
      border-color: rgba(0, 0, 0, 0.15);
      border-top-color: var(--tly-primary-color);
      animation: spinner 0.8s ease-in-out infinite;
    }
  }

  &-wrapper {
    background-color: rgba(white, 0.9);
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: loading 4s linear forwards infinite;
    opacity: 1;
    flex-direction: column;
    cursor: not-allowed;
    user-select: none;

    &--is-small {
      background-color: transparent;
      animation: none;
      align-items: flex-end;
      padding-right: 16px;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Loading opacity animation infinite
@keyframes loading {
  0%,
  100% { opacity: 0.2; }
  50% { opacity: 1; }
}
