@import '../helpers/vars';

$block: 'tly-launcher';

.#{$block} {
  $size: 80px;
  $gap: 12px;
  animation-delay: 0.7s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: loaded;
  background: transparent;
  bottom: $gap;
  height: $size;
  padding: 0;
  position: fixed;
  right: $gap;
  width: $size;
  z-index: var(--tly-z-index);

  &--is-left-position {
    right: 0;
    left: $gap;
  }

  iframe {
    border: 0;
    height: 100% !important;
    width: 100% !important;
  }
}
