@import '../helpers/vars';

$block: 'tly-widget';

.#{$block} {
  background-color: var(--tly-white);
  border-radius: 12px;
  bottom: 94px;
  box-shadow: 0 4px 14px rgb(36 36 36 / 10%), 0 1px 4px rgb(36 36 36 / 4%);
  height: 616px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 24px;
  transform: translate3d(0, 0, 0);
  transition: max-height 0s ease-in-out 0.25s, width 0s ease-in-out 0.25s,
    opacity 0.25s ease-in-out 0s, z-index 0s ease-in-out 0.25s,
    transform 0.25s ease-in-out 0s;
  width: 360px;
  z-index: var(--tly-z-index);

  iframe {
    border: 0;
    height: 100%;
    width: 100%;
  }

  &--is-open {
    max-height: calc(90% - 60px - 24px);
    min-height: 242px;
    opacity: 1;
    transform: translate3d(0, -4%, 0);
    transition: max-height 0s ease-in-out 0s, width 0s ease-in-out 0s,
      opacity 0.25s ease-in-out 0.01s, z-index 0s ease-in-out,
      transform 0.25s ease-in-out 0.01s;
    z-index: var(--tly-z-index);
  }

  &--is-flat {
    border-radius: 4px;
  }

  &--is-left-position {
    left: 24px;
    right: 0;
  }

  &,
  &--is-open {
    @include in-mobile {
      border-radius: 0;
      bottom: 0;
      height: 100vh;
      max-height: 100vh;
      right: 0;
      width: 100%;
      transform: translate3d(0, 0, 0);
    }
  }
}
