$block: 'tly-home';

.#{$block} {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .tly-typography-title--is-h1 {
    max-width: 80%;
  }

  &-articles {
    margin-top: 24px;

    &__article {
      border: solid 1px #e4e7eb;
      padding: 16px;
      border-radius: 4px;
      box-shadow: 0px 6px 6px #0000000f;
      border-top-color: var(--tly-secondary-bg);
      border-top-width: 2px;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      &-header {
        margin-bottom: 24px;
      }
    }
  }
}
