:root {
  --tly-green: #06615A;
  --tly-green-light: #5ACE71;
  --tly-white: #fff;
  --tly-black: #1c2b33;
  --tly-gray: #455964;
  --tly-gray-light: #6b7c89;
  --tly-gray-lighter: #f2f2f2;
  --tly-gray-lighter-v2: #EEEEEE;
  --tly-danger: #9a1d1c;

  --tly-primary-bg: var(--tly-green);
  --tly-primary-color: var(--tly-white);

  --tly-secondary-bg: var(--tly-green-light);
  --tly-secondary-color: var(--tly-white);

  --tly-default-title-color: var(--tly-black);
  --tly-default-text-color: var(--tly-gray-light);

  --tly-default-font: 'DM Sans', sans-serif;
}

@mixin in-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@keyframes loaded {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
