:root {
  --tly-green: #06615a;
  --tly-green-light: #5ace71;
  --tly-green-lighter: #ddf7ec29;
  --tly-green-dark: #02543f;
  --tly-white: #fff;
  --tly-black: #1c2b33;
  --tly-gray: #455964;
  --tly-gray-light: #6b7c89;
  --tly-gray-lighter: #f2f2f2;
  --tly-gray-lighter-v2: #eeeeee;
  --tly-gray-lighter-v3: #f8f8f8;
  --tly-gray-lighter-v4: #fefbfb;
  --tly-danger: #9a1d1c;
  --tly-warning: #723b13;

  --tly-primary-bg: var(--tly-green);
  --tly-primary-color: var(--tly-white);

  --tly-secondary-bg: var(--tly-green-light);
  --tly-secondary-color: var(--tly-white);

  --tly-default-title-color: var(--tly-black);
  --tly-default-text-color: var(--tly-gray-light);

  --tly-default-font: 'DM Sans', sans-serif;

  --tly-default-border-color: #e4e7eb;
  --tly-z-index: 999999;
  --tly-widget-position: 'right';
}

@mixin in-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@keyframes loaded {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
